<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ol3/3.8.2/ol.min.css" type="text/css">

<!-- http://openlayers.org/en/v3.9.0/examples/snap.html -->
  <div class="form-group">
<md-radio-group [(ngModel)]="turfActionSelected">
  <md-radio-button *ngFor="let action of turfActions" [value]="action" [checked]="action == 'draw'">{{action}}</md-radio-button>
</md-radio-group>
<md-slide-toggle>Slide me!</md-slide-toggle>
<button md-button (click)="onTurfActionClick()">Turf Cutter</button>

{{turfActionSelected}}
    <!--<label>Draw type &nbsp;</label>
    <select name="draw-type" id="draw-type">
      <option value="Point">Point</option>
      <option value="LineString">LineString</option>
      <option value="Polygon">Polygon</option>
    </select>-->

</div>
<!-- https://github.com/tobiasahlin/SpinKit -->
<!--<div id="map" class="map" [center]="[data.coordX.value, data.coordY.value]" style='padding: 0px;width: 100vw; height: calc(100% - 65px);overflow: none;'>map here</div>-->
<!--<div id="map" class="map" style='padding: 0px;width: 100vw; height: calc(100% - 65px);overflow: none;'>map here</div>-->
<!--<div id="map" class="map" style='padding: 0px;width: calc(100%); height: calc(100%);overflow: none;'></div>-->
<div id="map" class="map" style='padding: 0px;width: 100%; height: 100%;overflow: none;'></div>

<div id="ol-popup" class="ol-popup">
  <span id="ol-popup-closer" class="ol-popup-closer"></span>
  <div id="ol-popup-content"></div>
</div>