<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ol3/3.8.2/ol.min.css" type="text/css">
<!-- https://github.com/tobiasahlin/SpinKit -->
<!--<div id="map" class="map" [center]="[data.coordX.value, data.coordY.value]" style='padding: 0px;width: 100vw; height: calc(100% - 65px);overflow: none;'>map here</div>-->
<!--<div id="map" class="map" style='padding: 0px;width: 100vw; height: calc(100% - 65px);overflow: none;'>map here</div>-->
<div id="map" class="map" style='padding: 0px;width: 100vw; height: calc(100% - 45);overflow: none;'>Loading map...</div>

<div id="ol-popup" class="ol-popup">
  <span id="ol-popup-closer" class="ol-popup-closer"></span>
  <div id="ol-popup-content"></div>
</div>