<!-- 
    https://github.com/angular/material/issues/1053
    http://codepen.io/jbltx/pen/KwQxBX 

    https://stackoverflow.com/questions/42263806/angular-material-2-tabs-removing-body-transition
    -->
<!--<app-map [lnglat]="[-93.49401, 45.08203]" [zoom]="7">
            Note: must declare the component in app.module.ts https://gist.github.com/nubiofs/bfb8cedbd961ab5e2225448ad769e2a1
        </app-map>-->
<!--<div class="content-style"> work </div>-->
<!--<md-tab-group [selectedIndex]="selectedIndex" (selectChange)="changeSelectedIndex($event)" [dynamicHeight]="false">

    <md-tab label="Map View">
        <div class="content-style">
            <app-map [lnglat]="[-93.49401, 45.08203]" [zoom]="7">
                Note: must declare the component in app.module.ts https://gist.github.com/nubiofs/bfb8cedbd961ab5e2225448ad769e2a1
            </app-map>
           
        </div>
    </md-tab>
    <md-tab label="Contacts">
        <div class="content-style">
            <md-list fxFlexFill fxLayout="column">
                Note: http://stackoverflow.com/questions/36314261/implementing-ngclasseven-ngclassodd-for-angular-2
                <md-list-item *ngFor="let c of contacts; index as i; odd as isOdd; even as isEven" (click)="onSelectContact(c)" class="repeated-item noselect"
                    md-ink-ripple="#03A9F4" [class.odd]="isOdd" [class.even]="isEven">
                    <div md-list-icon class="circle">{{c.firstName.substring(0,1)}}{{c.lastName.substring(0,1)}}</div>
                    <h4 md-line>{{c.firstName}} {{c.lastName}}</h4>
                    <p md-line> {{c.addressDefaultDisplayID}} - {{c.street}} </p>
                </md-list-item>
            </md-list>
        </div>
    </md-tab>
</md-tab-group>-->

<!-- https://plnkr.co/edit/qIkkBBbx7ctpBA5nvg99?p=preview -->

        <nav md-tab-nav-bar aria-label="">
            <a md-tab-link *ngFor="let links of tabLinks; let i = index" [active]="tabLinkActiveIndex === i" (click)="tabLinkActiveIndex = i"> 
                <md-icon class="tab-icon">{{ links.icon }}</md-icon> {{ links.label }}</a>
           <button md-mini-fab class="example-fab" (click)="sidenav.toggle()"><md-icon>filter_list</md-icon></button>
        </nav> 


<md-sidenav-container  style="height: calc(100vh - 113px);overflow:hidden">

            <div [class.show]="tabLinkActiveIndex===1" class="step" >
                <ul style="padding:0;margin:0;height: calc(100vh - 113px);overflow-y:scroll">
                    <li *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]" style="color:black"><br>{{i}} List contacts</li>
                </ul>
            </div>
            <div [class.show]="tabLinkActiveIndex===0" class="step " >
               
            <app-map (openViewEditPanel)="openViewEditPanel($event)" [lnglat]="[-93.49401, 45.08203]" [zoom]="7" style="height: calc(100vh - 113px);max-height:calc(100vh - 113px); overflow:hidden">
                Note: must declare the component in app.module.ts https://gist.github.com/nubiofs/bfb8cedbd961ab5e2225448ad769e2a1
            </app-map>
        
            </div>

    <md-sidenav (close)="sidenavClose()" #sidenav class="example-sidenav" align="end" [mode]="menuMode" mode="over">
        <app-search *ngIf="showPanelSearch" (onSubmitFilter)='onSubmit($event)'></app-search>

        <div *ngIf="showPanelTurfDetail">
            <md-toolbar color="primary">
                Edit Turf
                <span class="spacer"></span>

                <button md-icon-button (click)="resetFilter()" mdTooltip="Reset Filter(s)"><md-icon>delete</md-icon></button>

            </md-toolbar>
            {{featureId}}
            <md-input-container class="example-full-width">
                <input [(ngModel)]="featureName" mdInput placeholder="Turf Name">
            </md-input-container>
        </div>

        <div *ngIf="showPanelAddressDetail" class="fullscreen">

            <md-toolbar color="primary">
                Address Info Id: {{featureId}}
                <span class="spacer"></span>
            
            </md-toolbar>
            <div *ngIf="addressCount === 0" style="margin:10px 0 5px 10px;color:black">No Residents Found</div>
            <div *ngIf="addressCount > 0">
                <div style="margin:10px 0 5px 10px;color:black"> {{ addressContacts[0]?.street }}</div>
                <ul>
                    <li *ngFor="let c of addressContacts" style="color:black">
                        <a [routerLink]="'/admin/contact/' + c.contactId" > {{c.firstName}} {{ c.lastName }} </a><br>

                    </li>
                </ul>
            </div>


        </div>
    </md-sidenav>

    <!-- <md-sidenav #viewaddresspanel class="example-sidenav" mode="side">
        
    </md-sidenav> -->


</md-sidenav-container>
<!--<md-sidenav-container class="example-container">

    <md-sidenav #sidenavs style="width:100%" mode="side" opened>
        <nav md-tab-nav-bar aria-label="">

            <a md-tab-link *ngFor="let links of tabLinks; let i = index" [active]="tabLinkActiveIndex === i" (click)="tabLinkActiveIndex = i"> {{ links.label }} </a>
        </nav>
        <div style="height: calc(100vh - 120px)">

            <app-map [lnglat]="[-93.49401, 45.08203]" [zoom]="7" [class.show]="tabLinkActiveIndex===0" class="step" style=" position: absolute;top:65;width: calc(100% - 1px);height: calc(100vh - 65px)">
                Note: must declare the component in app.module.ts https://gist.github.com/nubiofs/bfb8cedbd961ab5e2225448ad769e2a1
            </app-map>

            <div [class.show]="tabLinkActiveIndex===1" class="step" style=" position: absolute;top:65;">

                <ul>
                    <li *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]" style="color:black"><br>{{i}} List contacts</li>
                </ul>

            </div>
        </div>
    </md-sidenav>
    <md-sidenav #sidenav class="example-sidenav" align="end">
        <app-search></app-search>
    </md-sidenav>

</md-sidenav-container>-->

<!--https://rawgit.com/jefersonestevo/angular-smd/master/dist/index.html#/angular-smd/demo-fab-speed-dial-->
<!-- <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <md-icon>filter_list</md-icon>
  </button> -->
<!--<nav md-tab-nav-bar aria-label="">
   
    <a md-tab-link *ngFor="let links of tabLinks; let i = index" [active]="tabLinkActiveIndex === i" (click)="tabLinkActiveIndex = i"> {{ links.label }} </a>
</nav>
<div style="height: calc(100vh - 120px)">
    <div [class.show]="tabLinkActiveIndex===0" class="step" style=" position: absolute;width:100%;height: calc(100vh - 120px)">
        
            <app-map [lnglat]="[-93.49401, 45.08203]" [zoom]="7">
                Note: must declare the component in app.module.ts https://gist.github.com/nubiofs/bfb8cedbd961ab5e2225448ad769e2a1
            </app-map>
      
    </div>

    <div [class.show]="tabLinkActiveIndex===1" class="step" style=" position: absolute;">
            <ul>
      <li *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]" style="color:black"><br>{{i}} List contacts</li>
    </ul>
    
    </div>
</div>-->



<!--<md-tab-group [selectedIndex]="selectedIndex" (selectChange)="changeSelectedIndex($event)">

    <md-tab label="Map View">
    </md-tab>
    <md-tab label="Contacts">
    
    </md-tab>


</md-tab-group>-->

<!--<div [hidden]="selectedIndex!=0" [@fadeInOut]>-->


<!--
<app-map [lnglat]="[-93.49401, 45.08203]" [zoom]="7">
                Note: must declare the component in app.module.ts https://gist.github.com/nubiofs/bfb8cedbd961ab5e2225448ad769e2a1
            </app-map>-->

<!--<div class="fullscreen">
   
        <md-tab-group>
            <md-tab label="Map View">

                <app-map [lnglat]="[-93.49401, 45.08203]" [zoom]="7" style="display:inline-block;width: calc(100% - 1px);height: calc(100vh - 140px)">
                    Note: must declare the component in app.module.ts https://gist.github.com/nubiofs/bfb8cedbd961ab5e2225448ad769e2a1
                </app-map>

            </md-tab>
            <md-tab label="Contacts">
                <button type="button" md-button (click)="sidenav.open()">
                Open sidenav
                </button>
                <ul>
                    <li *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]" style="color:black"><br>{{i}} List contacts</li>
                </ul>

                <md-list fxFlexFill fxLayout="column">
                    Note: http://stackoverflow.com/questions/36314261/implementing-ngclasseven-ngclassodd-for-angular-2
                    <md-list-item *ngFor="let c of contacts; index as i; odd as isOdd; even as isEven" (click)="onSelectContact(c)" class="repeated-item noselect"
                        md-ink-ripple="#03A9F4" [class.odd]="isOdd" [class.even]="isEven">
                        <div md-list-icon class="circle">{{c.firstName.substring(0,1)}}{{c.lastName.substring(0,1)}}</div>
                        <h4 md-line>{{c.firstName}} {{c.lastName}}</h4>
                        <p md-line> {{c.addressDefaultDisplayID}} - {{c.street}} </p>
                    </md-list-item>
                </md-list>

            </md-tab>


        </md-tab-group>
    
</div>-->
