<!-- 
    https://github.com/angular/material/issues/1053
    http://codepen.io/jbltx/pen/KwQxBX 
    -->

              <app-map [lnglat]="[-93.49401, 45.08203]" [zoom]="7">
                Note: must declare the component in app.module.ts https://gist.github.com/nubiofs/bfb8cedbd961ab5e2225448ad769e2a1
            </app-map> 

<!--<md-tab-group fxFlexFill fxLayout="column">
    <md-tab label="Map View">
        <div>
            <app-map [lnglat]="[-93.49401, 45.08203]" [zoom]="7">
                Note: must declare the component in app.module.ts https://gist.github.com/nubiofs/bfb8cedbd961ab5e2225448ad769e2a1
            </app-map>
            <br>
            <br>
        </div>
    </md-tab>
    <md-tab label="Contacts">

        <md-list fxFlexFill fxLayout="column">
            
            Note: http://stackoverflow.com/questions/36314261/implementing-ngclasseven-ngclassodd-for-angular-2 

            <md-list-item *ngFor="let c of contacts; index as i; odd as isOdd; even as isEven" (click)="onSelectContact(c)" class="repeated-item noselect"
                md-ink-ripple="#03A9F4" [class.odd]="isOdd" [class.even]="isEven">
                <div md-list-icon class="circle">{{c.firstName.substring(0,1)}}{{c.lastName.substring(0,1)}}</div>
                <h4 md-line>{{c.firstName}} {{c.lastName}}</h4>
                <p md-line> {{c.addressDefaultDisplayID}} - {{c.street}} </p>
            </md-list-item>
        </md-list>
    </md-tab>


</md-tab-group>-->

<!--<div fxFlexFill fxLayout="column">
    <header>Using Flex-Layout with Router-Outlets</header>

    <div class="content" fxFlex>
        Hello

    </div>


    <footer>
        <div class="version">
            Using @angular/flex-layout (current HEAD on Github Master) http://david-kerwick.github.io/2017/01/14/material-2-flex-layout-making-a-sticky-footer.html
        </div>
    </footer>
</div>-->

<router-outlet></router-outlet>