<!-- Page Content -->
<!-- http://stackoverflow.com/questions/40915277/change-build-in-colors-angular-2-material -->

<div fullscreen>
  <md-toolbar layout="row" color="primary">
    <button [hidden]="true" md-button (click)="start.open()">Open start sidenav</button>
    <span><h1> {{title}} </h1></span>
    <span class="spacer"></span>

    <button md-icon-button [md-menu-trigger-for]="menu" >
      <md-icon>more_vert</md-icon>
    </button>

    <md-menu x-position="before" #menu="mdMenu" >
    
        <button routerLink="/home" routerLinkActive="active" md-menu-item> 
        <md-icon>dialpad</md-icon>
        <span>Home</span>
        </button>
      
        
        <button routerLink="/login" routerLinkActive="active" md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
        </button>
    </md-menu>

  </md-toolbar>



     <router-outlet>
        <!-- router-outlet needed here or get error: Angular2 Router: Cannot find primary outlet to load '...Component'-->
      </router-outlet>
</div>
<!-- Content -->