<!-- Page Content -->
<!-- http://stackoverflow.com/questions/40915277/change-build-in-colors-angular-2-material -->


  <md-sidenav-container fullscreen>
      <md-toolbar layout="row"  color="primary">
    <button md-button (click)="start.open()">Open start sidenav</button> <h1> {{title}} </h1>
      
  </md-toolbar>
    <md-sidenav #start (open)="closeStartButton.focus()" fullscreen >
      Start Sidenav.
   
      <button md-button #closeStartButton (click)="start.close()">Close</button>
 <md-nav-list>
      </md-nav-list>
      <!--<a [routerLink]="['/login']" class="btn btn-primary">Log in</a>-->
     
    </md-sidenav>

    <md-sidenav #end align="end">
      End Sidenav.
      <button md-button (click)="end.close()">Close</button>
      
    </md-sidenav>

    
    <button md-button (click)="end.open()">Open end sidenav</button>
  <md-card class="demo-card demo-basic">
    <!--<md-toolbar color="primary">Basic</md-toolbar>-->
    <md-card-content>
<nav>
      <a routerLink="/admin" routerLinkActive="active">Admin</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
    </nav>
    <router-outlet>
      <!-- router-outlet needed here or get error: Angular2 Router: Cannot find primary outlet to load '...Component'--> 
    </router-outlet>
    </md-card-content>
  </md-card>
  </md-sidenav-container>
  <!-- Content -->



