<md-toolbar color="accent" class="mat-elevation-z5" style="margin-top:2px;">
  <md-select placeholder="Select Precinct" [(ngModel)]="selectedPrecinctId" (ngModelChange)="getAPIPrecinctVoters(selectedPrecinctId)"
    style="left:5px;right:5px;width:100%">
    <md-option *ngFor="let item of precincts" [value]="item.precinctId">
      {{item.precinctName}} ({{item.voterCount}})
    </md-option>
  </md-select>
           <md-input-container class="example-full-width">
             <input [formControl]="searchNameControl" #namefield mdInput placeholder="Find Voter"  [(ngModel)]="search" [value]="searchName">
          </md-input-container>

</md-toolbar>
<div style="height: calc(100vh - 128px);overflow-y:scroll">
  <md-list>
    <md-list-item *ngFor="let item of precinctVoters | searchfilter: 'firstName' : 'lastName': searchName" class="noselect" [ngClass]="{hasvoted: item.hasVoted==1}" style="color:#333;cursor:pointer">
      <div class="circle">{{item.firstName.substring(0,1)}}{{item.lastName.substring(0,1)}}</div>
      <p style="padding-left:5px;" (click)="item.hasVoted = !item.hasVoted"><strong>{{item.lastName}}, {{item.firstName}}</strong> <br />{{item.street}} </p>
    </md-list-item>
  </md-list>
</div>