<nav>
  <a routerLink="/home" routerLinkActive="active">home</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/compose" routerLinkActive="active">Compose</a>
  <!--<a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>-->
</nav>

<router-outlet>
  <!-- router-outlet needed here or get error: Angular2 Router: Cannot find primary outlet to load '...Component'-->
</router-outlet>
<!-- Content -->